// components/_vendingmachine.scss
.vendingmachine {
  @include flex-center;
  height: 100%;
  flex: 2;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.vendingmachine__item {
  margin: 10px 0;
}

.vendingmachine__button {
  margin-top: 15px;
  padding: 10px 15px;
  background-color: $primary-color;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.display {
  background-color: #fff;
  text-align: center;
  font-size: 1rem;
}